In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {"hours":[0,1,2,3,3,5,5,6,7,7,10,5],"marks":[96,85,82,74,95,68,76,58,65,75,50,84]}

In [3]:
df = pd.DataFrame(data)

In [7]:
df.head()

   hours  marks
0      0     96
1      1     85
2      2     82
3      3     74
4      3     95

# slope = cov(x,y)/var(x)
# c = ybar - m*xbar

In [10]:
covariance_x_y = df['hours'].cov(df['marks'])
variance_x = df["hours"].var()
slope = covariance_x_y/variance_x
slope

np.float64(-4.0674157303370775)

In [11]:
c_value = np.mean(df.marks) - slope*np.mean(df.hours)
c_value

np.float64(93.97003745318352)

In [18]:
#equation of line y = mx + c
def predictMarks():
    study = int(input("How many hours you studies: "))
    marks = slope*study + c_value
    print(f"Your expected marks are: {format(marks, ".2f")}")

In [19]:
predictMarks()

How many hours you studies:  9

Your expected marks are: 57.36